@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h2>Our Mission</h2>
    At Rego, our mission is to bridge the gap between job seekers and employers, creating a win-win situation for both parties. We are dedicated to helping job seekers find their dream jobs, while simultaneously assisting employers in identifying talented individuals who can contribute to their growth and success.

    <h2>What we do</h2>
    <h3>For job seekers:</h3>
    We understand that finding the right job can be a challenging journey. That's why we're here to support you every step of the way. Our platform provides a wide range of job listings across various industries and sectors. Whether you're a fresh graduate, an experienced professional looking for a career change, or someone returning to the workforce, we have opportunities tailored to your needs. Our tools and resources empower you to showcase your skills and experience effectively, giving you the best chance to secure your desired position.

    <h2>For employers</h2>
    Building a talented workforce is crucial for business success. Our services make it easier for employers to identify and recruit exceptional talent. We collaborate with you to understand your company's unique needs and culture, helping you find candidates who align with your values and objectives. From posting job listings to screening applicants, we streamline the hiring process, saving you time and effort.

    <h2>Our Values</h2>
    <h3>Integrity:</h3> We uphold the highest ethical standards in all our interactions. Honesty, transparency, and fairness are at the core of our business.
      
    <h3>Innovation:</h3> We embrace innovation to create user-friendly solutions that enhance the job search and recruitment experience.
      
    <h3>Collaboration</h3> We believe in the power of collaboration. By working together with job seekers and employers, we can achieve better outcomes for everyone involved.
      
    <h3>Empowerment:</h3> We empower job seekers and employers by providing them with the tools and resources needed to make informed decisions and achieve their goals.
      
    <h3>Join Us on the Journey</h3>
    Whether you're a job seeker or an employer, [Your Company Name] welcomes you to join us on this exciting journey. Let us help you navigate the dynamic world of employment and recruitment, making the process smoother and more rewarding.

    Contact us today to learn more about how we can assist you in finding the right opportunities or the right talent.

    Feel free to customize this content to match your company's unique story, values, and services. It's important to convey your company's passion, commitment, and expertise in connecting job seekers and employers.
</p>
